h3 {
    margin: 20px 0 0 40px;
}
ul {
    width: 700px;
    border: solid 1px black;
    margin-left: 30px;
    padding: 20px 30px 30px 40px;
}
li {
    padding: 10px 0 10px 0;
    border-bottom: dotted 1px gray;
}
img {
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 30px yellow;
}